allure-pytest
allure-python-commons
allure-pytest-html
attrs
certifi
charset-normalizer
click
colorama
greenlet
grpcio
grpcio-tools
idna
iniconfig
natsort
overrides
packaging
pip
playwright
pluggy
protobuf
pyee
pytest
pytest-base-url
pytest-playwright
python-dotenv
python-slugify
pyyaml
requests
robotframework
robotframework-assertion-engine
robotframework-browser
robotframework-pythonlibcore
seedir
setuptools
text-unidecode
typing-extensions
urllib3
wheel
wrapt
